.contacto{
    color: rgb(119, 27, 119);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    transition: all .5s;
    font-family: sans-serif;
    font-weight: 550;
}
.contacto:hover{
    color: rgb(160, 0, 0);
    transform: scale(1.09);
}
.divContacto {

    display: flex;
}
.contactoMail{
    border-left: 2px solid rgb(187, 76, 187);
    
}
.contactoTel{
    border-left: 2px solid rgb(187, 76, 187);
    margin-right: 20px;
}
.redesSociales{
    width: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center; 
    transition: transform .5s;
  margin-top: 4px;
   
}
.redesSociales:hover{
    transform: scale(1.5);
}

.redFacebook{

    margin-right: 20px;


}
.redInsta{
    color: #b334b3;
}
.navTop{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    background: linear-gradient(rgb(255 255 255 / 100%), rgb(255 187 187));
  }
  .direc{
    color: rgb(119, 27, 119);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    transition: all .5s;
    font-family: sans-serif;
    font-weight: 550;
    border-left: 2px solid rgb(187, 76, 187);
  }
  .dir{
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    transition: all .5s;
  }
  .dir:hover{
    transform: scale(1.09);
    color: blueviolet;
  }


  @media screen and (max-width: 800px) {

    .navTop{
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        background: linear-gradient(rgb(255 255 255 / 100%), rgb(255 187 187));
        font-size: 50%;
    }

    .divContacto{
        
    display: flex;
    flex-direction: row;

    }
    .contacto{
        color: rgb(119, 27, 119);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .5s;
        font-family: sans-serif;
        margin-left: 10px;
        margin-right: 5px;
    }

    .direc{
        color: rgb(119, 27, 119);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .5s;
        font-family: sans-serif;
        font-weight: 550;
        margin-left: 0px;
        border-left: 2px solid rgb(187, 76, 187);
      }

      .dir{
        margin-right: .5%;
        margin-left: .5%;
        text-decoration: none;
        transition: all .5s;
      }

      .redesSociales{
        width: 100%;
        margin-left: 0px;
        display: flex;
        align-items: center; 
        transition: transform .5s;   
    }
    .redFacebook{
      border-left: 2px none;
      margin-right: 20px;
      font-size: medium;

  }
  .redInsta{
      border-left: none;
      font-size: medium;
      
  }
  }