
.productDetail{
    margin: 7%;
    border: 2px rgb(255 108 189 / 26%) solid;
    background: linear-gradient(179deg, white, #ffffffbf);
    border-radius: 8px;
}

.productDetailImg{
    width: 350px;
    border-radius: 14px;
    margin: 11px;
    margin-bottom: 0px;
    transition: transform .5s;
}
.productDetailImg:hover{
    transform: scale(1.05);
}
.tableDetail{
    width: 100%;
}
.tdDetail{
    border: 1px violet solid;
    transition: all .5s;
    
}
.tdDetail:hover{
    border: 1.5px rgb(228, 26, 26) solid;
}
.thDetail{
    text-align: left;
    font-family: "Quintessential";


}

.detalles{
    font-family: "Quintessential";
    margin: 5%;
}
.detalles:hover{
    color: rgb(163, 29, 141);
    transition: all 0.5s;
}
.ulCategory{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.divCategory{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px #ee82ee9c solid;
    border-radius: 2px;
    place-content: center;
    transition: border .5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.divCategory:hover{
    border: 1.8px rgb(77, 12, 12) solid;
    background-color: rgba(255, 192, 203, 0.801);
}
