
.productDetail{
    margin: 7%;
    border: 2px rgb(255 108 189 / 26%) solid;
    background: linear-gradient(179deg, white, #ffffffbf);
    border-radius: 8px;
}

.productDetailImg{
    width: 350px;
    border-radius: 14px;
    margin: 11px;
    margin-bottom: 0px;
    transition: transform .5s;
}
.productDetailImg:hover{
    transform: scale(1.05);
}
.name{
    font-family: 'Lato', sans-serif;
    
}
.divBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}
.btnIrCarrito{
    font-family: "Quintessential";
    margin: 3%;
    color: white;
    background: rgb(230, 54, 107);
    border-radius: 5px;
    border: 1.5px red solid;
    padding: 5px 35px;
    width: max-content;
}
.btnIrCarrito:hover{
    background: rgb(134, 6, 55);
    transition: all 0.5s;
}
.btnSeguir{
    font-family: "Quintessential";
    margin: 3%;
    color: white;
    background: rgb(75, 62, 255);
    border-radius: 5px;
    border: 1.5px blue solid;
    padding: 5px 20px;
    width: max-content;
}
.btnSeguir:hover{
    background: rgb(17, 17, 184);
    transition: all 0.5s;
}

.ulCategory{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.divCategory{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px #ee82ee9c solid;
    border-radius: 2px;
    place-content: center;
    transition: border .5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.divCategory:hover{
    border: 1.8px rgb(77, 12, 12) solid;
    background-color: rgba(255, 192, 203, 0.801);
}

.aviso{
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 800px) {
    .productDetailImg{
        width: 90%;
    }

    
}