/* HEADER Y NAVBAR */

/* BODY */
#cuerpo {

  background-image: url(./imagenes/fondo_pagina.jpg);
  background-size: cover;
}

.seccion{
  display: flex;
  flex-direction: row;
}

.seccionLi {
  padding: 2px;
  list-style: none;
  margin-right: 1.5%;
  align-self: center;
  background-position: top;
  padding-top: 1.5%;

  transition: background-position 2.5s;

}
.seccionLi:hover {

  text-decoration: none;
  color: rgb(0, 0, 0);
}
.seccionLi a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0);
  font-family: "Lato", sans-serif;
  font-size: 100%;
  transition: color 1.5s;
}
.seccionLi a:hover {
  background: transparent;
  text-decoration: none;
  color: rgb(189, 8, 149);
}

.seccionLi-Fechas{
  padding: 2px;
  list-style: none;
  margin-right: 1.5%;
  align-self: center;
  background-position: top;
  padding-top: 1.5%;
  transition: background-position 2.5s;

}

.seccionLi-Fechas a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0);
  font-family: "Quintessential";
  font-size: 130%;
  list-style: none;
  transition: color 1.5s;
}

.seccionLi-Fechas:hover {

  text-decoration: none;
  color: rgb(0, 0, 0);
}

.seccionLi-Fechas a:hover {
  background: transparent;
  text-decoration: none;
  color: rgb(189, 8, 149);
}

/* CARRITO DE COMPRAS */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.boton-abrircarrito {
  display: inline-block;
  padding: 0px 16px;
  font-size: 23px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #c01a7066;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #626262;
  transition: background-color 1s;

}

.boton-abrircarrito:hover {
  
  background-color: #b30b61

}

.boton-abrircarrito:active {
  background-color: #ac1060;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

.fa-shopping-cart {
  font-size: 120%;
  transition: font-size 0.3s;
}
.fa-shopping-cart:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 150%;
  padding: 3px 20px;
}
.fa-shopping-cart :focus {
  outline: none;
}

.contadorCarrito {
  margin-right: 5%;
}

.shopCart {
  color: black;
  margin: 0%;
  padding: 1.5px 7.5px;
  font-family: "Quintessential";
  font-size: medium
}



/* FIN HEADER Y NAVBAR */

/* PRODUCTOS ---------------------*/
.productos {
  justify-items: center;
  padding-top: 0.5%;
  grid-column-gap: 2.5%;
  grid-row-gap: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.listadeproductos {
  display: grid;
  justify-items: center;
  grid-template-columns: 16.4% 16.4% 16.4% 16.4% 16.4%;
  padding-top: 0.5%;
  margin-left: 2%;
  grid-column-gap: 2.5%;
  grid-row-gap: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.product-item {
  display: flex;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.37), rgb(255, 157, 211));
  transition: all 0.6s;
  border-radius: 8px;
  width: 100%;

  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.product-item:hover {
  box-shadow: 5px -4px 7px 1px rgba(0, 0, 0, 0.47);
  text-decoration: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.623), rgb(255, 108, 189));
}
.tituloProducto{
  margin: 0%;
  margin-left: 2%;
  font-family: "Quintessential";
}
.tituloProducto:hover {
  color: rgb(163, 29, 141);
  transition: all 0.5s;
  font-size: 109%;
}
.product-item img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  transition: transform 0.5s;
}
.product-item img:hover {
  transform: scale(1.01);
}


.elijaTamaño {
  align-self: center;
  font-family: "Quintessential";
  font-size: medium;
  margin: 1%;  
}

.productoDetail{
  display: flex;
  flex-direction: row;
  background: rgb(255 255 255 / 64%);
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}



/* agregar y quitar productos ----------------------*/

.btnAgregarQuitar{
  display: inline-table;

}

.button-add {
  background: rgb(210 52 97);
  padding: 2.5%;
  margin-bottom: 10px;
  border: 0.5px solid rgb(255 155 217);
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  width: 15%;
  align-self: center;
  border-radius: 2px;
}
.button-add:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 2%;
  background-color: rgb(209, 31, 31);
}

.button-quit{
  background: rgb(210 52 97);
  padding: 2.5%;
  margin-bottom: 10px;
  border: 0.5px solid rgb(255 155 217);
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  align-self: center;
  width: 15%;
  border-radius: 2px;
}
.button-quit:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 2%;
  background-color: rgb(209, 31, 31);
}

.agregarAlCarrito{
  background: rgb(210 52 97);
  padding: 2.5%;
  margin-bottom: 10px;
  border: 0.5px solid rgb(255 155 217);
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  align-self: center;
  border-radius: 2px;
}

.agregarAlCarrito:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 2%;
  background-color: rgb(209, 31, 31);
}

/* FIN PRODUCTOS */

/* FOOTER */

.tarjetaFoot {
  margin-right: 7%;
  width: 17%;
  margin-bottom: 6%;
}



/* VISTA TABLETS Y CELULARES --------------- */
@media screen and (max-width: 1280px) {
  .listadeproductos {
    display: grid;
    justify-items: center;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    padding-top: 0.5%;
    grid-column-gap: 2.5%;
    grid-row-gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

}
