
#body-index{
  margin: 2px;
  box-sizing: border-box;
}
/* HEADER Y NAVBAR */

.barMovil{
  display: none;
}

.buscador-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;

}

.buscador-title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 7px;
  color: rgb(255 159 231);
  transition: 1s;

}
.buscador-title:hover{
  color: rgb(255, 255, 255);
}



.form-buscador{
  display: flex;
}

.buscador-btn{
  background: pink;
  border-radius: 5px;
  border: rgb(253, 65, 97);
  padding: 3%;
  margin-left: 10px;
  transition: all 1.2s;
  transition: color .7s
  
}
.buscador-btn:hover{
  background: rgb(226, 52, 81);
  color: white;
  box-shadow: 0px 4px 5px 1px #000000ad;
}

/* BODY */
.cabeza{
  background-image: url(../public/assets/imagenes/rosas-banner-nav.jpg);
  background-size: cover;
}
.cuerpo {
  text-align: center;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../public/assets/imagenes/rosas-fondo.jpg);
}

.main{
  background-size: contain;

}

.cat-selected{
  font-family: "Quintessential";
  color: white;
  margin: 1px;
  font-weight: 400;

}

.seccion{
  display: flex;
  flex-direction: row;
  padding: 0%;
}
.seccionLi {
  padding: 5px;
  list-style: none;
  color: black;
  align-self: center;
  border-left: 1px solid rgb(61, 0, 61);
  border-right: 1px solid rgb(61, 0, 61);
  padding: 8px 15px;
  width: 100%;
  margin: 2px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  transition: all .3s ease-out;
}
.seccionLi:hover {
  background: rgb(255, 207, 207);
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 2px solid violet;

}

.seccionLi.active{
  color: rgb(117, 0, 133);
  font-size: 120%;
  background: rgb(255, 207, 207);
  border: 2px solid violet;
  border-radius: 5px;

}
.seccionLi-Fechas a:hover {
  background: transparent;
  text-decoration: none;
  color: rgb(189, 8, 149);
}

/* CARRITO DE COMPRAS */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.boton-abrircarrito {
  display: inline-block;
  padding: 0px 12px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #ff8fc9;
  border: 0.5px rgb(225 5 255) solid;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 1px #000000ad;
  transition: all .3s;
}
.boton-abrircarrito:hover {
  background-color: #b30b61;
  color: white;
}
.boton-abrircarrito:active {
  background-color: #ac1060;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}
.fa-shopping-cart {
  font-size: 120%;
  transition: font-size 0.3s;
}
.fa-shopping-cart:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 150%;
  padding: 3px 20px;
}
.fa-shopping-cart :focus {
  outline: none;
}

.contadorCarrito {
  margin-right: 5%;
}
.contador{
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn-eliminarProd{
  cursor: pointer;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(160 0 0);
  border: 0.5px rgb(252 143 255) solid;
  border-radius: 5px;
  transition: background-color 1s;
}

.btn-eliminarProd:hover{
  background-color: red;
}

.btn-clear{

  cursor: pointer;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(160 0 0);
  border: 0.5px rgb(252 143 255) solid;
  border-radius: 5px;
  transition: background-color 1s;

}
.btn-clear:hover{
  background-color: red;
}

.btn-verMas{
  cursor: pointer;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #ffcbe6;
  font-family: system-ui,  'Helvetica Neue', sans-serif;
  border: 0.5px rgb(117 0 133) solid;
  border-radius: 2.5px;
  transition: all 1s;
}

.btn-verMas:hover{
  background-color: rgb(255, 41, 76);
  color: white;
  border: #ac1060 1px solid;
}

.totalPrecio{
  background: rgba(255, 255, 255, 0.781);
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  padding: 1%;
}


.shopCart {
  color: black;
  margin: 0%;
  padding: 1.5px 7.5px;
  font-family: "Quintessential";
  font-size: medium
}

.cart{
  display: 'block';
  justify-content: 'center';
  margin-top:'50px'; 
  background: linear-gradient(181deg, pink, transparent);
  border: 0.5px solid violet;
  border-radius: 10px;
  margin-top: 40px;
}
.cartVacio{
  background: rgba(0, 0, 0, 0.22);
  font-family: 'Lato', sans-serif;
  padding: 50px;
  border: 0.2px solid black;
  border-radius: 6px;
  color: white;
}
.cart-home{
  color: rgb(219, 133, 147);
  transition: color 1s;
}
.cart-home:hover{
  color: #b30b61;
}


/* FIN HEADER Y NAVBAR */

/* PRODUCTOS ---------------------*/
.productos {
  justify-items: center;
  padding-bottom: 0.5%;
  grid-column-gap: 2.5%;
  grid-row-gap: 50px;
  margin-bottom: 50px;
  background: rgb(255 192 203 / 19%);
  border: 1px solid violet;
  border-radius: 5px;

}

.listadeproductos {
  display: grid;
  justify-items: center;
  grid-template-columns: 16.4% 16.4% 16.4% 16.4% 16.4%;
  padding-top: 0.5%;
  margin-left: 2%;
  grid-column-gap: 2.5%;
  grid-row-gap: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.product-item {
  display: flex;
  background: rgba(255, 192, 203, 0.733);
  border-radius: 8px;
  width: 100%;
  
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.6s;
}
.product-item:hover {
  box-shadow: 5px -4px 7px 1px rgba(0, 0, 0, 0.47);
  text-decoration: none;
  background: rgb(255, 133, 153);
}
.tituloProducto{
  margin: 2%;
  margin-left: 2%;
  font-family: "Quintessential";
}
.tituloProducto:hover {
  color: rgb(170 3 3);
  transition: all 0.5s;
}
.link-producto{
  text-decoration: none;
  color: #850045;
}
.product-item img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  transition: transform 0.5s;
}
.product-item img:hover {
  transform: scale(1.01);
}


.elijaTamaño {
  align-self: center;
  font-family: "Quintessential";
  font-size: medium;
  margin: 1%;  
}

.prodDetailContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 14px;

}

#selectId{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Loader */
.fadeLoader{
  margin-left: 50%;
  margin-right: 50%;
  color: rgb(255, 255, 255);

}
.loadDetailProd {
  color: white;
  font-family: "Quintessential";
  font-size: xx-large;
}

.loadProd {
  font-family: "Quintessential";
  color: rgb(255, 255, 255);
  align-content: center;
  text-align: center;
}


/* agregar y quitar productos ----------------------*/

.btnAgregarQuitar{
  display: block;
  margin-top: 5px;
}

.button-add {
  background: rgb(248, 213, 219);
  padding: 2px 30px 2px 30px;
  margin-bottom: 10px;
  margin-right: 5px;
  border: 0.5px solid rgb(247, 150, 210);
  text-decoration: none;
  font-size: large;
  text-align: center;
  color: black;
  transition: all 0.5s;
  width: 10%;
  align-self: center;
  border-radius: 2px;
}
.button-add:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  color: white;
  text-decoration: none;
  border: 1px solid rgb(192, 20, 155);
  background-color: rgba(182, 53, 175, 0.61);
}

.button-quit{
  background: rgb(248, 213, 219);
  padding: 2px 30px 2px 30px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: large;
  border: 0.5px solid rgb(247, 150, 210);
  text-decoration: none;
  text-align: center;
  color: black;
  transition: all 0.5s;
  align-self: center;
  width: 10%;
  border-radius: 2px;
}
.button-quit:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgba(151, 4, 4, 0.788);
}

.agregarAlCarrito{
  background: rgb(245, 195, 209);
  padding: 3.5%;
  margin-bottom: 10px;
  border: 0.5px solid rgb(255, 71, 184);
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: large;
  align-self: center;
  border-radius: 7px;
  transition: all 0.5s;
  width: fit-content;
  font-family: 'Lato', sans-serif;
}

.agregarAlCarrito:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 4.2%;
  background-color: rgba(182, 53, 175, 0.61);
}

     /* -----Producto en carrito */
.imgInCart{
  width: 150px;
  border-radius: 5%
}
.prodInCart{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: linear-gradient(180deg, #ffa2f382, transparent);
  align-items: center;
  margin-top: 5px;
  border-radius: 20px;
}
.divCart{
  border-right: 1px solid rgb(147 14 112 / 52%);
  padding-right: 1%;
  padding-left: 1%;
  border-left: 1px solid rgb(147 14 112 / 52%);
  flex-direction: column;
  display: flex;
}
.detailsInCart{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(56, 6, 56);
  display: flex;
  font-weight: 500;
}

/* FIN PRODUCTOS */

/* ADICIONALES */
.aviso-adicional{
  font-family: 'Lato', sans-serif;
}
.aviso-adicional-agregado{
  font-family: "Quintessential";
  color: #ac1060;
  font-size: 90%;
}
.aviso-ad-agr{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titulo-adicional{
  font-family: "Quintessential";
  margin-top: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.438);
}
.div-adicional{
  margin-left: 25px;
    margin-right: 25px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.adicionales{
  background: rgba(255, 192, 203, 0.466);
  width: 100%;
}
.lista-de-adicionales{
  display: grid;
  justify-items: center;
  grid-template-columns: 30% 30% 30% ;
  padding-top: 0.5%;
  grid-column-gap: 4.5%;
  grid-row-gap: 50px;
  margin: 50px;

}
.adicionales img{
  width: 130px;
  height: 150px;
  border-radius: 10px;
}
.adic-nombre{
  border-bottom: 0.5px solid black;
    width: 75%;
    margin-top: 15px;
  margin-bottom: 8px;
}
.lista-adicionales{
  list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: system-ui;
    border-left: 0.5px black solid;
    border-right: 0.5px black solid;

}

.total-adicionales{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(233, 27, 62, 0.226);
  width: fit-content;
  align-content: center;
  margin-top: 15px;
}

/* FIN ADICIONALES */

/* FORMULARIO */
.formulario{
  margin: 20px;
  background: #ffffff78;
  border: rgb(255, 0, 191);
  border-radius: 7px;
  margin-top: 100px;
  text-align: -webkit-center;
}
.form-title{
  font-family: 'Lato', sans-serif;
  color: black;
}

.select-directions{
width: 60%;
}

.localidad-titulo{
  font-family: sans-serif;
  margin-bottom: 1px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.titulo-datosEnvio{
  font-family: 'Lato', sans-serif;
}

.datos-recibe{
  width: 80%;
  background: rgba(255, 255, 255, 0.349);
  border-radius: 29px;
}
.div-dedicatoria{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.btn-dedicatoria{
  background-color: rgb(240, 192, 200);
  border: 1px violet solid;
  margin-top: 5px;
  border-radius: 6px;
  padding: 1%;
  margin-bottom: 15px;
}
.dedicatoria{
  width: 55%;
  height: 80px;
  border-radius: 5px;
  border: violet 2px solid;
}
.datos-comprador{
  width: 100%;

}
.input-nombre{
  margin: 8px;
  width: 55%;

}
.input-altura{
  margin: 8px;
  width: 55%;
}
.input-piso{
  margin: 8px;
  width: 55%;
}
.input-apellido{
  margin: 8px;
  width: 55%;
}
.input-direccion{
  margin: 8px;
  width: 55%;
}

.input-calle{
  margin: 8px;
  width: 55%;
}

.input-email{
  margin: 8px;
  margin-bottom: 16px;
  width: 55%;

}

.input-phone{
  margin: 8px;
  width: 55%;

}
.input-nombreComprador{
  margin: 8px;
  width: 55%;
}
.input-apellidoComprador{
  margin: 8px;
  width: 55%;
}

.direction-choose{

}

.input-error{
  border: 2px red solid;
  width: 55%;
  margin-bottom: 5px;

}

.message-error{
  color: red;
  margin: 0%;
}

.dedic-text{
  font-family: sans-serif; 
  margin-bottom: 4px;

}

.dedic-save{
  font-family: "Quintessential"; 
  background-color: rgb(253, 221, 221);
  padding: 5%;
  border-radius: 6px;
}
.dedic-titulo{
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: sans-serif; 

}

.btn-enviarform{
  margin: 20px;
  background-color: pink;
  border: 1.4px solid darksalmon;
  border-radius: 5px;
  transition: background-color .5s;
  padding: 8px 25px;
}
.btn-enviarform:hover{
  background-color: rgb(202, 119, 91);
}
.compraFinalizada{
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: x-large;

}

.idCompra{
  color: rgb(255 134 218);
  font-family: 'Lato', sans-serif;
  font-size: xx-large;
  padding-top: 20px;
  box-shadow: 0px 4px 5px 1px #000000db;
  padding-bottom: 52px;
  background: rgb(4 0 0 / 77%);
}
/* FOOTER */

.tarjetaFoot {
  margin-right: 7%;
  width: 17%;
  margin-bottom: 6%;
}

/* ICONOS */
.fcApproval{
  font-size: 20px;
}

/* VISTA TABLETS Y CELULARES --------------- */

@media screen and (max-width: 1000px) {
        
  .barMovil{
    display: flex;
    margin-bottom: 10px;
    position: fixed;
    top: 50px;
    left: 5px;
    font-size: 30px;
    background: linear-gradient(5grad, rgba(255, 192, 203, 0.747), transparent);
    color: rgb(85, 13, 85);
    padding: .3%;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 1px rgba(255, 192, 203, 0.747);
    transition: all .3s;
}
.barMovil:active{
  box-shadow: 0 0px rgb(7, 6, 6);
  transform: translateY(2px);
}

  .listadeproductos {
    display: grid;
    justify-items: center;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    padding-top: 0.5%;
    grid-column-gap: 2.5%;
    grid-row-gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .seccion{
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    top: 81px;
    flex-direction: column;
    padding: 0%;
    justify-content: center;
    background: #ffc0cbd1;
    transition: all 1.5s ease;

  }

  .seccionCerrada{
    left: -101%;
    display: flex;
    position: fixed;
    width: 100%;
    top: 81px;
    flex-direction: column;
    padding: 0%;
    justify-content: center;
    background: #ffc0cbd1;
    transition: all .8s ease;
  }
  .seccionLi {
    padding: 0px;
    list-style: none;
    color: black;
    align-self: center;
    border-left: none;
    border-right: none;
    width: 100%;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    transition: all .3s ease-out;
  }



  .boton-abrircarrito{
    float: right;
    position: fixed;
    padding: 0px 12px;
    font-size: 20px;
    cursor: pointer;
    right: 18px;
    top: 57px;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #ff8fc9;
    border: 0.5px rgb(225 5 255) solid;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 1px #000000ad;
    transition: all .3s;
  }
 .product-item img{ 

    transition: none;
  }
  .product-item img:hover {
    transform: none;
}

.imgInCart{
  width: 15%;
  border-radius: 5%;
}

.btn-eliminarProd{
  font-size: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-eliminarProd{
  font-size: 16px;
}


.idCompra{
  font-size: xx-large;
}

}

@media screen and (max-width: 850px) {

  .listadeproductos{
    grid-template-columns: 30% 30% 30% ;

  }

  .boton-abrircarrito{
    font-size: 90%;
  }
  .barMovil{
    font-size: 80%;
  }

  .prodInCart{
  font-size: 80%;
}
.btn-eliminarProd{
  font-size: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-eliminarProd{
  font-size: 13px;


}

}

@media screen and (max-width: 640px) {

  .listadeproductos{
    grid-template-columns: 48% 48% ;

  }
 .product-item img{ 
  width: 100%;
  height: 170px;
  border-radius: 6px;
  transition: none;
}
.btn-eliminarProd{
  font-size: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-eliminarProd{
  font-size: 10px;
}
.idCompra{
  font-size: 100%;
}
.prodInCart{
  font-size: 50%;
}
.lista-de-adicionales{
  display: grid;
  justify-items: center;
  grid-template-columns: 29% 29%;
  padding-top: 0.5%;
  grid-column-gap: 4.5%;
  grid-row-gap: 50px;
  margin: 0px;
  justify-content: space-evenly;
}
.adicionales img{
  width: 130px;
  height: 150px;
}
.adic-nombre{
  border-bottom: 0.5px solid black;
    width: 75%;
    margin-top: 15px;
  margin-bottom: 8px;
}
.lista-adicionales{
  list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: system-ui;
    border-left: 0.5px black solid;
    border-right: 0.5px black solid;

}


}

@media screen and ( max-width: 400px ){
  .prodInCart{    
    font-size: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;}
}
